@import "tailwindcss";
@import "fumadocs-ui/css/dusk.css";
@import "fumadocs-ui/css/preset.css";

@theme {
  --color-fd-primary: hsl(142, 71%, 45%);
  --color-fd-primary-foreground: hsl(0, 0%, 100%);
  --color-fd-ring: hsl(142, 71%, 45%);
}

.dark {
  --color-fd-primary: hsl(142, 71%, 45%);
  --color-fd-primary-foreground: hsl(0, 0%, 100%);
  --color-fd-ring: hsl(142, 71%, 45%);
}
